@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

body {
	font: 14px 'Roboto', sans-serif; /* configura a fonte padrão*/
	-webkit-font-smoothing: antialised !important; /* suaviza a renderização da fonte */
}

ul {
	list-style: none; /* remove o marcador de item de lista */
}
