@import 'css-reset.css';
@import 'animations.css';
@import 'responsive.css';

body {
	/* Remove o scroll da animação da tela */
	overflow: hidden;

	background: #376996;
}

#backgound {
	position: relative;
	display: flex;
}

.layer {
	position: absolute;
	top: -25vh;
	/* left: 110vw; */

	transform: rotate(22deg);

	height: 200vh;
	width: 100vw;
}

#content {
	position: relative;

	height: calc(100vh - var(--form-margin-top));
	width: 100vw;
}

form {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: var(--form-margin-top);
	height: 8vh;
}

form input {
	background: none;
	border: 1px #fff solid;
	border-left: 0;

	height: inherit;
	width: 38vw;
	padding: 15px;

	color: white;
	font-size: var(--form-font-size);
	font-weight: 300;
}

form input::placeholder {
	color: white;
	font-size: var(--form-font-size);
	font-weight: 300;
}

form button {
	background: white;
	border: 0;
	border-radius: 0px 50px 50px 0px;

	height: inherit;
	width: 8vw;

	color: #bfbfbf;
	font-size: var(--form-font-size);
	font-weight: 300;
}

#download-options {
	/* max-width: 10vw; */

	width: var(--options-width);

	display: flex;
	flex-direction: column;

	/* (restante-da-tela - input - opções)/2 */
	margin-top: calc((55vh - 71px - 25vh) / 2);

	margin-left: calc((38% + 150px - var(--options-width)) / 2);
}

#download-options > h1 {
	margin-bottom: 10px;

	color: white;
	font-weight: 300;
	font-size: 6vh;
	text-align: center;
}

ol {
	display: flex;
}

ol li {
	flex: 1;
}

ol li h1 {
	background: #8daac3;
	border: 1px solid #707070;

	color: white;
	font-size: 3vh;
	font-weight: 300;
	text-align: center;
	letter-spacing: -1px;
}

ol li div {
	height: 7vh;
	background: #ffffff;
	border: 1px solid #707070;

	display: flex;
	align-items: center;
	justify-content: center;
}

ol li div p {
	color: #707070;
	font-size: 3vh;
	font-weight: 300;
	text-align: center;
}

#download-options > div {
	height: 8vh;
	padding-top: 1.5vh;
	background: #8daac3;
	border: 1px solid #707070;

	color: white;
	font-size: 4vh;
	font-weight: 300;
	text-align: center;
}

img {
	height: var(--img-height);
	width: var(--img-width);
	background: white;

	position: absolute;
	/* largura-da-tela - input - imagem */
	right: calc((100vw - 38% - 150px - var(--img-width)) / 2);
	bottom: calc((100vh - var(--img-height)) / 2);
}
