/* Notebooks and tablets screens */
@media screen and (orientation: landscape) and (max-width: 1920px) and (max-height: 1080px) {
	* {
		--img-width: 640px;
		--img-height: 480px;
	}
}
@media screen and (orientation: landscape) and (max-width: 1400px) and (max-height: 750px) {
	* {
		--img-width: 480px;
		--img-height: 360px;
	}
}

/* Mobile screens */
@media screen and (orientation: portrait) {
	* {
		--form-font-size: 74px;
	}

	body {
		padding-bottom: 30%;
	}

	#image-area button,
	form button {
		color: #707070;
		font-weight: 400;
	}

	#content {
		flex-direction: column;
	}

	#input-area {
		width: 100%;

		justify-content: space-around;
	}

	form input {
		font-weight: 400;
		border-width: 3px;
	}

	form button {
		height: 120px;
		width: 296px;
		margin-right: 5vw;

		border-top-right-radius: 60px;
		border-bottom-right-radius: 60px;
	}

	#download-options {
		margin: 0 5%;
	}

	#download-options > h1 {
		font-size: 100px;
	}

	ol {
		margin-top: 1vh;
	}

	li h1 {
		font-size: 60px;
	}

	li div {
		min-height: 150px;
	}

	li div p {
		font-size: 75px;
	}

	#zip-option p {
		font-size: 75px;
	}
}

@media screen and (orientation: portrait) and (max-width: 1125px) and (max-height: 2436px) {
	* {
		--img-width: 640px;
		--img-height: 480px;
	}

	li h1 {
		font-size: 45px;
	}

	li div p {
		font-size: 55px;
	}
}

@media screen and (orientation: portrait) and (max-width: 750px) and (max-height: 1334px) {
	* {
		--img-width: 640px;
		--img-height: 480px;
		--form-font-size: 50px;
	}

	body {
		padding: 0;
	}

	#input-area {
		min-height: 45vh;
	}

	form button {
		height: 90px;
	}

	#download-options > h1 {
		font-size: 60px;
	}

	li h1 {
		font-size: 30px;
	}

	li div {
		min-height: 100px;
	}

	li div p {
		font-size: 35px;
	}

	#zip-option p {
		font-size: 50px;
	}
}
