button,
ol li,
#zip-option {
  cursor: pointer;
}

button:hover {
  color: #707070;
}

ol li:hover h1,
#zip-option:hover {
  background: #325c88;
  transition: background 0.2s;
}

ol li.active h1 {
  background: #325c88;
  transition: background 0.2s;
}

ol li.active div {
  background: #dcdee4;
  transition: background 0.2s;
}

#zip-option.active {
  background: #325c88;
  border-color: white;
}
